<div class="container">
  <div class="row justify-content-between">
    <div class="col-md-4 bg-white py-2 my-5 ml-5">
      <h1 class="text-center">ゲームリスト</h1>
    </div>
    <div class="col-md-3 pt-2 mt-3">
      <%= form_with url: public_games_path, method: :get do |f| %>
        <div class="form-row">
          <div class="field">
            <%= f.text_field :search, class: 'form-control', placeholder: "ゲーム検索" %>
          </div>
          <div class="actions ml-2 d-flex align-items-end">
            <%= f.submit "検索" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex flex-wrap pt-3">
      <% @games.each do |games| %>
        <ul>
          <li class="list-unstyled">
            <div class="card" style="width: 18rem;">
              <div class="card-title mt-3 ml-4">
                <h4><%= link_to games.title, public_game_path(games.id) %></h4>
              </div>
              <div class="card-body pt-0 d-flex flex-row-reverse">
                <p class="mx-4 mb-0">投稿 <%= games.posts.count %>件</p>
                <% if FavoriteGame.find_by(user_id: current_user.id, game_id: games.id) %>
                  <%= link_to public_game_favorite_games_path(games.id), method: :delete do %>
                    <p class="text-dark mb-0"><i class="fa fa-star text-warning"></i> <%= games.favorite_games.count %></p>
                  <% end %>
                <% else %>
                  <%= link_to public_game_favorite_games_path(games.id), method: :post do %>
                    <p class="text-dark mb-0"><i class="fa fa-star text-secondary"></i> <%= games.favorite_games.count %></p>
                  <% end %>
                <% end %>
              </div>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 bg-light p-4">
      <h4>ご希望のゲームが無い？</h4>
      <p>あなたの好きなゲームをおしえてください。</p>
      <%= form_with model: @request, url: public_requests_path do |f| %>
      <div class="form-row">
        <div class="field col-md-6">
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="actions">
          <%= f.submit "送信", class: "btn btn-success" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>