<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 d-flex justify-content-center mt-4">
      <h1 class="bg-light py-3 px-5"><%= @game.title %></h1>
      <% if FavoriteGame.find_by(user_id: current_user.id, game_id: @game.id) %>
        <%= link_to public_game_favorite_games_path(@game.id), method: :delete do %>
          <i class="fa fa-star fa-3x mt-3 ml-3 text-warning"></i>
        <% end %>
      <% else %>
        <%= link_to public_game_favorite_games_path(@game.id), method: :post do %>
          <i class="fa fa-star fa-3x mt-3 ml-3 text-light"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-10 bg-light">
      <h3 class="text-center">CONTENT</h3>
      <p class="text-center"><%= @game.content %></p>
    </div>
  </div>
  <div class="row justify-content-center">
    <% if current_user.email != "guest@example.com" %>
      <div class="col-md-8 bg-light text-center my-5 py-4">
        <%= form_with model: [@tag,@post], url: public_posts_path do |f| %>
          <div class="field col-md-10 mx-auto">
            <%= f.label :message, "投稿フォーム", class: "font-weight-bold h3" %>
            <%= f.text_area :message, class: "form-control", rows: "5" %>
            <%= f.hidden_field :game_id, :value => @game.id %>
          </div>
          <div class="check_box">
            <span>タグ：</span>
            <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
          </div>
          <div class="actions">
            <%= f.submit "投稿する" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-between">
      <div class="tag-grop d-flex">
        <ul>
          <%= link_to public_game_path(game_id: @game.id), class: "bg-light" do %>
            <li class="list-group-item bg-light">すべて</li>
          <% end %>
        </ul>
        <% @tags.each do |tags| %>
          <ul class="mb-0">
            <%= link_to public_game_path(tag_id: tags.id) do %>
              <li class="list-group-item bg-light"><%= tags.name %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="form-group">
        <%= form_with url: public_game_path, method: :get do |f| %>
          <div class="form-row">
            <div class="field">
              <%= f.text_field :search, class: 'form-control', placeholder: "キーワード検索" %>
            </div>
            <div class="actions ml-2 d-flex align-items-end">
              <%= f.submit "検索" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center bg-secondary">
    <h1 class="mt-3 ml-5 bg-light px-4 py-2">投稿リスト</h3>
    <% if @posts.empty? %>
      <div class="col-md-10 text-center my-5">
        <p class="bg-light p-5">該当する投稿がありません。</p>
      </div>
    <% else %>
      <div class="col-md-12 my-5">
        <% @posts.reverse_each do |posts| %>
          <ul>
            <li class="list-unstyled">
              <div class="card mr-5">
                <div class="card-title d-flex flex-wrap justify-content-between pl-5 pt-3 mb-0">
                  <h5 class="mb-0"><%= link_to posts.user.name, public_user_path(posts.user.id), class: "font-weight-bold" %></h5>
                  <p><%= posts.created_at.strftime('%Y/%m/%d %H:%M:%S')%></p>
                </div>
                <div class="card-body d-flex flex-column">
                  <p class="card-text"><%= link_to posts.message, public_post_path(posts.id), class:"text-dark" %></p>
                  <div class="d-flex flex-wrap flex-row-reverse">
                    <% if FavoritePost.find_by(user_id: current_user.id, post_id: posts.id) %>
                      <div>
                        <%= link_to public_post_favorites_path(posts.id), method: :delete do %>
                          <p class="text-dark ml-3"><i class="fa fa-heart text-danger"></i> <%= posts.favorite_posts.count %></p>
                        <% end %>
                      </div>
                    <% else %>
                      <div>
                        <%= link_to public_post_favorites_path(posts.id), method: :create do %>
                          <p class="text-dark ml-3"><i class="fa fa-heart text-secondary"></i> <%= posts.favorite_posts.count %></p>
                        <% end %>
                      </div>
                    <% end %>
                    <p>コメント <%= posts.comments.count %></p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= link_to "いいね一覧", public_user_favorites_path(current_user.id) %>
</div>