<div class="container">
  <div class="row">
    <h1><%= @game.title %></h1>
  </div>
  <div class="row">
    <%= form_with model: [@tag,@post], url: public_posts_path do |f| %>
      <div class="field">
        <%= f.label :message %>
        <%= f.text_area :message %>
        <%= f.hidden_field :game_id, :value => @game.id %>
      </div>
      <div class="check_box">
        <span>タグ</span>
        <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
      </div>
      <div class="actions">
        <%= f.submit "投稿する" %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <%= form_with url: public_game_path, method: :get do |f| %>
      <%= f.text_field :search, class: 'form-control', placeholder: "キーワード検索" %>
      <%= f.submit "検索" %>
    <% end %>
  </div>
  <div class="row">
    <% @tags.each do |tags| %>
      <ul>
        <li class="list-group-item"><%= link_to tags.name, public_game_path(tag_id: tags.id) %></li>
      </ul>
    <% end %>
  </div>
  <div class="row">
    <% if @posts.empty? %>
      <p>該当する投稿がありません。</p>
    <% end %>
    <table class="table table-borderless">
      <% @posts.reverse_each do |posts| %>
        <tr>
          <td><%= link_to posts.user.name, public_user_path(posts.user.id) %></td>
          <td><%= link_to posts.message, public_post_path(posts.id), class: "text-dark" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>