<div class="container">
  <div class="row justify-content-center mt-5">
    <% if @post.user.id == current_user.id %>
      <div class="col-md-4 text-center">
        <h1 class="bg-light py-3 mb-0 px-4">あなたの投稿</h1>
      </div>
      <div class="col-md-3 d-flex align-items-end">
        <span><%= link_to "投稿を取り消す", public_post_path, method: :delete, class: "btn btn-danger" %></span>
      </div>
    <% else %>
      <div class="col-md-7 text-center">
        <h1 class="bg-light py-3 mb-0"><%= @post.user.name %>さんの投稿</h1>
      </div>
      <% if FavoritePost.find_by(user_id: current_user.id, post_id: @post.id) %>
        <div class="col-md-2">
          <%= link_to public_post_favorites_path(@post.id), method: :delete do %>
            <i class="fa fa-heart text-danger fa-3x mt-4"></i>
          <% end %>
        </div>
      <% else %>
        <div class="col-md-2">
          <%= link_to public_post_favorites_path(@post.id), method: :create do %>
            <i class="fa fa-heart text-secondary fa-3x mt-4"></i>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-10 bg-light text-center py-3 my-5">
      <p><%= @post.message %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="group bg-light px-4 py-3">
        <h4>コメントを送ろう</h4>
        <%= form_with model: @comment, url: public_comments_path do |f| %>
          <div class="field m">
            <%= f.text_area :comments_content, class: "form-control", rows: "4" %>
            <%= f.hidden_field :post_id, value: @post.id %>
          </div>
          <div class="action">
            <%= f.submit "送信" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-9">
      <table class="table bg-light">
        <% @comments.each do |comments| %>
        <tr>
          <td style="width:30%"><%= link_to comments.user.name, public_user_path(comments.user.id) %></td>
          <td><%= comments.comments_content %></td>
          <% if comments.user_id == current_user.id %>
            <td style="width:15%"><%= link_to "取り消す", public_comment_path(comments.id), method: :delete, class: "btn btn-danger" %></td>
          <% end %>
        </tr>
        <% end %>
      </table>
      <%= paginate @comments %>
    </div>
  </div>
  <div class="row flex-row-reverse">
    <div class="col-md-2 mt-4">
      <%= link_to "exit", public_game_path(@post.game_id), class: "btn btn-secondary" %>
    </div>
  </div>
</div>