<div class="container">
  <div class="row">
    <h1><%= @user.name %>さんのページ</h1>
  </div>
  <div>
    <p><%= @user.email %></p>
  </div>
  <div class="row">
    <% if @user.is_active == true %>
      <%= link_to "アカウント無効", admin_account_stop_path(@user.id), method: :patch %>
    <% else %>
      <%= link_to "アカウント有効", admin_account_start_path(@user.id), method: :patch %>
    <% end %>

    <%= link_to "アカウント削除", admin_user_path(@user.id), method: :delete, data: {confirm: "削除すると戻すことはできません。このアカウントの投稿などもすべて削除されます。本当に削除しますか？"} %>
  </div>
  <div>
    <table class="table">
      <% @posts.each do |posts| %>
        <tr>
          <td><%= link_to posts.game.title, admin_game_path(posts.game.id) %></td>
          <td><%= link_to posts.message, admin_post_path(posts.id) %></td>
          <td><%= link_to "削除", admin_post_path(posts.id), method: :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>