<div class="container">
  <div class="row justify-content-center mt-5 mb-4">
    <% if @user.id == current_user.id %>
      <div class="col-md-4 text-center">
        <h1 class="bg-light mb-0 py-2">マイページ</h1>
      </div>
      <div class="col-md-2 d-flex align-items-end">
        <%= link_to edit_public_user_path(current_user.id) do %>
          <p class="btn btn-primary mb-0"><i class="fa fa-pen-to-square"></i>編集</p>
        <% end %>
      </div>
    <% else %>
      <div class="col-md-6">
        <h1 class="bg-light text-center mb-0 py-2"><%= @user.name %>のページ</h1>
      </div>
      <% if current_user.email != "guest@example.com" %>
        <div class="col-md-3 d-flex align-items-end">
          <% if current_user.email == "guest@example.com" %>
          <% elsif current_user.following?(@user) %>
            <%= link_to "フォロー外す", public_user_relationships_path(@user.id), class: "btn btn-primary", method: :delete %>
          <% else %>
            <%= link_to "フォローする", public_user_relationships_path(@user.id), class: "btn btn-primary", method: :post %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <% unless @user.id == current_user.id %>
      <% if @is_room == true %>
        <%= link_to 'メッセージへ', public_room_path(@room_id) %>
      <% else %>
        <%= form_with model: @room, url: public_rooms_path do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, value: @user.id %>
          <% end %>
          <%= f.submit "メッセージへ" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <% if @user.introduction.present? %>
    <div class="row justify-content-center">
      <div class="col-md-8 bg-light text-center py-4 mb-5">
        <p class="h5"><%= @user.introduction %></p>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4">
      <div class="group d-flex bg-light justify-content-between py-2">
        <div class="ml-2">
          <h5>フォロー <%= @user.followings.count %></h5>
          <table class="table table-sm">
            <% @followings.each do |followings| %>
            <tr>
              <td><%= link_to followings.name, public_user_path(followings.id) %></td>
            </tr>
            <% end %>
          </table>
        </div>
        <div class="mr-2">
          <h5>フォロワー <%= @user.followers.count %></h5>
          <table class="table table-sm">
            <% @followers.each do |followers| %>
            <tr>
              <td><%= link_to followers.name, public_user_path(followers.id) %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h3 class="bg-light mb-0 pl-5 py-2">お気に入りゲーム</h3>
      <div class="group bg-light d-flex flex-wrap">
        <% @favorite_games.each do |favorite_games| %>
          <%= link_to public_game_path(favorite_games.id) do %>
            <ul>
              <li class="list-unstyled"><%= favorite_games.title %></li>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row bg-secondary justify-content-center py-4 my-5">
    <h1 class="bg-light px-5 py-2 mb-0">投稿リスト</h1>
      <% if @user.posts.empty? %>
        <div class="col-md-10 bg-light">
          <p>まだ投稿がありません。</p>
        </div>
      <% else %>
        <div class="col-md-11 bg-light py-4">
          <ul>
            <% @posts.reverse_each do |posts| %>
              <li class="list-unstyled">
                <div class="card">
                  <div class="card-title mt-2 ml-4 mb-0">
                    <h5 class="mb-0"><%= link_to posts.game.title, public_game_path(posts.game.id) %></h5>
                  </div>
                  <div class="card-body">
                    <p><%= link_to posts.message, public_post_path(posts.id), class: "text-dark" %></p>
                    <div class="d-flex flex-wrap flex-row-reverse">
                    <% if FavoritePost.find_by(user_id: current_user.id, post_id: posts.id) %>
                      <div>
                        <%= link_to public_post_favorites_path(posts.id), method: :delete do %>
                          <p class="text-dark ml-3 mb-0"><i class="fa fa-heart text-danger"></i> <%= posts.favorite_posts.count %></p>
                        <% end %>
                      </div>
                    <% else %>
                      <div>
                        <%= link_to public_post_favorites_path(posts.id), method: :create do %>
                          <p class="text-dark ml-3 mb-0"><i class="fa fa-heart text-secondary"></i> <%= posts.favorite_posts.count %></p>
                        <% end %>
                      </div>
                    <% end %>
                    <p class="mb-0">コメント <%= posts.comments.count %></p>
                  </div>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
          <%= paginate @posts %>
        </div>
      <% end %>
  </div>
</div>