<!DOCTYPE html>
<html>
  <head>
    <title>LoveForGames</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-dark">
    <header>
      <nav class="navbar navbar-expand-md navbar-light bg-info" style="height:100px">
        <div class="container-fluid mx-0">
          <div>
            <%= link_to "LoveForGames", root_path, class: "navbar-brand font-weight-bold border border-secondary rounded-lg px-5 py-2 bg-light" %>
          </div>
          <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <% if admin_signed_in? %>
                <li class="nav-item"><%= link_to 'ゲーム一覧', admin_games_path, class: "btn btn-outline-secondary font-weight-bold mx-3 py-2 bg-light" %></li>
                <li class="nav-item"><%= link_to 'ユーザー一覧', admin_users_path, class: "btn btn-outline-secondary font-weight-bold mx-3 py-2 bg-light" %></li>
                <li class="nav-item"><%= link_to 'タグ一覧', admin_tags_path, class: "btn btn-outline-secondary font-weight-bold mx-3 py-2 bg-light" %></li>
                <li class="nav-item"><%= link_to 'リクエスト', admin_requests_path, class: "btn btn-outline-secondary font-weight-bold mx-3 py-2 bg-light" %></li>
                <li class="nav-item"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "btn btn-outline-secondary font-weight-bold mx-3 py-2 bg-light" %></li>
              <% elsif user_signed_in? %>
                <% if current_user.email != "guest@example.com" %>
                  <li class="nav-item"><%= link_to 'マイページ', public_user_path(current_user.id), class: "btn btn-outline-secondary font-weight-bold mx-3 py-2 bg-light" %></li>
                  <li class="nav-item"><%= link_to 'ＤＭ一覧', public_rooms_path, class: "btn btn-outline-secondary font-weight-bold mx-3 py-2 bg-light" %></li>
                  <li class="nav-item"><%= link_to 'いいね一覧', public_user_favorites_path(current_user.id), class: "btn btn-outline-secondary font-weight-bold mx-3 py-2 bg-light" %></li>
                <% end %>
                <li class="nav-item"><%= link_to 'ゲーム一覧', public_games_path, class: "btn btn-outline-secondary font-weight-bold mx-3 py-2 bg-light" %></li>
                <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary font-weight-bold mx-3 py-2 bg-light" %></li>
              <% else %>

                <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class: "btn btn-outline-secondary font-weight-bold mx-3 py-2 bg-light" %></li>
                <li class="nav-item"><%= link_to '新規登録', new_user_registration_path, class: "btn btn-outline-secondary font-weight-bold mx-3 py-2 bg-light" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="flash bg-light">
      <p class="text-center mb-0"><%= notice %></p>
      <p class="text-center mb-0"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
